body {
    font-family: Arial, sans-serif;
}

form {
    margin-bottom: 1em;
}

#watchlist {
    display: flex;
    flex-wrap: wrap;
}

.item {
    border: 1px solid #000;
    padding: 1em;
    margin: 1em;
    width: calc(33% - 2em);
}

.item img {
    max-width: 100%;
    height: auto;
}
